# 3GPI SIM5320 usbserial port

ACTION!="add|change|move", GOTO="3gpi_usbserial_end"
SUBSYSTEM=="tty", ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9000", GOTO="3gpi_usbserial_go"
GOTO="3gpi_usbserial_end"

LABEL="3gpi_usbserial_go"

# DIAG port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="00"

# NMEA port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="gps"

# AT command port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="tty3GPI", RUN+="/bin/sh -c '. /etc/default/3gpi-utils; [ $AUTO_ON -eq 0 ] || [ $AUTO_GPS -eq 0 ] || (/bin/sleep 5; /usr/sbin/3gpictl --gpson)'"

# MODEM port
KERNEL=="ttyUSB*", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="modem"

LABEL="3gpi_usbserial_end"

