Source: 3gpi-utils
Section: net
Priority: extra
Maintainer: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.6
Vcs-Git: https://github.com/mechatrax/3gpi-utils.git
Vcs-browser: https://github.com/mechatrax/3gpi-utils
Homepage: http://www.mechatrax.com/

Package: 3gpi-utils-1.0
Architecture: all
Provides: 3gpi-utils
Replaces: 3gpi-utils (<< 1.0)
Breaks: 3gpi-utils (<< 1.0)
Depends: ${misc:Depends}, systemd
Description: Utilities for 3GPi family
 This package contains command utilities to control 3GPi family.
